#container {
    display: flex;
    width: 960px;
    height: 960px;
    margin: auto;
}

#calc-border {
    display: flex;
    border: dashed black;
    width: 500px;
    height: 700px;
    margin: auto;
}

#display {
    border: solid black;
    width: 450px;
    height: 150px;
    margin: 20px auto;
}